<!DOCTYPE html>
<html ng-app="tvShowDbApp" lang="en-US" >
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>All about your favorite TV shows</title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/appstyle.css"/>
</head>
<body>
	<div id="cont">	
	<ul id="menu">
  		<li><a class="active" href="/">Home</a></li>
  		<li><a href="/info">About</a></li>
  		<li><a href="/contact">Contact</a></li>
	</ul>	
	<div id="sadrzajstranice">
	<h3>smajloviceminaa@gmail.com</h3>
	
	</div></div>
</body>
</html>